<h1>Покупатель подтвердил заявку на кредит</h1>

<p>Имя покупателя: {{ client_name }}.</p>
<p>Номер телефона покупателя: {{ client_phone }}.</p>
<p>Номер заказа: {{ order_id }}.</p>

<p>
  <small>Письмо отправлено автоматически с сайта <a href="{{ abs_url() }}">bliss24.ru</a>. На него не надо отвечать.
  </small>
</p>
